{% extends 'base.html.twig' %}

{% block body %}
    <button type="button">START</button>

    <div>
        <form id="selection" method="POST" action ="{{path('addPlayers')}}">
            <input type="text" name="j1" placeholder="email">
            <input type="text" name="12" placeholder="email">
            <input type="text" name="j3" placeholder="email">
            <input type="text" name="j4" placeholder="email">
            <input type="submit" value="validez">
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
