{% extends 'base.html.twig' %}

{% block body %}
    <button type="button">START</button>

    <div>
        <form id="selection">
            <input type="text" placeholder="email">
            <input type="text" placeholder="email">
            <input type="text" placeholder="email">
            <input type="text" placeholder="email">
            <input type="submit" value="validez">
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
